Repository onfido/castor-tokens: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

build: correct linking to examples
  example/index.html
Due: prettier --write, stylelint --fix

build: correct linking to examples (#83)
  example/index.html
Due: prettier --write, stylelint --fix

ci: don't deploy main to gh pages
  .github/workflows/deploy.yml
  example/index.html
Due: prettier --write, stylelint --fix

ci: don't deploy main to gh pages (#82)
  .github/workflows/deploy.yml
  example/index.html
Due: prettier --write, stylelint --fix

feat(npm): use category "duration" for transition
  src/tokens.json
Due: prettier --write

build: fix "generate" concurrently script
  package.json
Due: prettier --write

build: fix "generate" concurrently script (#88)
  package.json
Due: prettier --write

feat(android): exclude base tokens from "night" mode values
  src/values/color-night.json
Due: prettier --write

feat(android): exclude base tokens from "night" mode values (#95)
  src/values/color-night.json
Due: prettier --write

chore: don't run commitizen when commiting with message
  .husky/prepare-commit-msg
Due: none

chore: don't run commitizen when commiting with message (#97)
  .husky/prepare-commit-msg
Due: none

chore: run commitizen via npx
  .husky/prepare-commit-msg
Due: none

chore: remove husky git ignore config
  .husky/.gitignore
Due: none

chore: run commitizen via npx (#126)
  .husky/prepare-commit-msg
Due: none

build: optimising sideEffect to exclude CSS from tree shaking
  packages/npm/package.json
Due: prettier --write

build: optimising sideEffect to exclude CSS from tree shaking (#191)
  packages/npm/package.json
Due: prettier --write

feat!: introduce new color-neutral token
  src/aliases.json
  src/themes/day.json
  src/themes/night.json
  src/tokens.json
Due: prettier --write

feat: update night theme's background-action-subtle opacity
  src/themes/night.json
Due: prettier --write

feat: update night theme's background-action-subtle opacity (#243)
  src/themes/night.json
Due: prettier --write

feat!: introduce new color-neutral token (#245)
  src/aliases.json
  src/themes/day.json
  src/themes/night.json
  src/tokens.json
Due: prettier --write

chore(deps-dev): bump @typescript-eslint from 4.33.0 to 5.1.0
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.0.0-beta.5
  CHANGELOG.md
  libraries/android/castor-tokens/version.json
  package-lock.json
  package.json
  packages/npm/package.json
Due: prettier --write

chore(release): 1.0.0-beta.5 (#297)
  CHANGELOG.md
  libraries/android/castor-tokens/version.json
  package-lock.json
  package.json
  packages/npm/package.json
Due: prettier --write

docs: correct changelog styling
  CHANGELOG.md
Due: prettier --write

docs: correct changelog styling (#298)
  CHANGELOG.md
Due: prettier --write

chore: bump node required to lts v16.14
  .nvmrc
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: prettier --write

chore: bump node required to lts v16.14 (#309)
  .nvmrc
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: prettier --write

fix(npm): correct element & array of elements typing for theme switching
  packages/npm/src/utils/switchTheme/switchTheme.ts
Due: prettier --write, eslint --fix

chore(release): 1.0.0-beta.6
  CHANGELOG.md
  libraries/android/castor-tokens/version.json
  package-lock.json
  package.json
  packages/npm/package.json
Due: prettier --write

chore(release): 1.0.0-beta.6 (#798)
  CHANGELOG.md
  libraries/android/castor-tokens/version.json
  package-lock.json
  package.json
  packages/npm/package.json
Due: prettier --write

feat: add switch tokens
  src/themes/day.json
  src/themes/night.json
Due: prettier --write

feat: add switch tokens (#1113)
  src/themes/day.json
  src/themes/night.json
Due: prettier --write

chore(release): 1.0.0
  CHANGELOG.md
  libraries/android/castor-tokens/version.json
  package-lock.json
  package.json
  packages/npm/package.json
Due: prettier --write

chore(release): 1.0.0 (#1114)
  CHANGELOG.md
  libraries/android/castor-tokens/version.json
  package-lock.json
  package.json
  packages/npm/package.json
Due: prettier --write

fix(release): update release.yml
  .github/workflows/release.yml
Due: prettier --write

fix(release): update release.yml (#1115)
  .github/workflows/release.yml
Due: prettier --write

fix(palette): change background spinner color from neutral-600 to neutral-700
  src/themes/day.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}
  eslint --fix: any of: *.{j,t}s{,x}
  stylelint --fix: any of: *.{css,scss,html}
